@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --body-bg: #fafafa;
  --container-bg: #fff;
  --container-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  --text: #494c6b;
  --text-completed: #d1d2da;
  --text-filter: #9495a5;

  --border-color: #e3e4f1;

  --bg-desktop-image: url('../public/bg-desktop-light.jpg');
  --bg-mobile-image: url('../public/bg-mobile-light.jpg');
}

[data-theme='dark'] {
  --body-bg: #171823;
  --container-bg: #25273d;
  --container-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);

  --text: #c8cbe7;
  --text-completed: #4d5067;
  --text-filter: #5b5e7e;

  --border-color: #393a4b;

  --bg-desktop-image: url('../public/bg-desktop-dark.jpg');
  --bg-mobile-image: url('../public/bg-mobile-dark.jpg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  background-color: var(--body-bg);
}

header {
  background-image: var(--bg-mobile-image);
  height: 200px;
  padding: 0 24px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header div {
  margin: 0 auto;
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 540px;
}

ul {
  list-style: none;
}

input {
  background-color: var(--container-bg);
  color: white;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 598px;
  align-items: center;
  justify-content: center;
  width: calc(100% - 48px);

  gap: 16px;
  width: 100%;
}

.form {
  margin-top: 40px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: white;
  letter-spacing: 10px;
}

.circle {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.form {
  max-width: 540px;
  width: calc(100% - 48px);
  margin-top: -92px;
  display: flex;
  justify-content: center;
  position: relative;

  input {
    width: 100%;
    padding: 16px 52px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--container-shadow);
    color: var(--text-filter);

    font-family: 'Josefin Sans';
    font-size: 12px;
    letter-spacing: -0.167px;

    outline: none;
  }

  button {
    position: absolute;
    left: 3.5%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
  }
}

.todo__container {
  background-color: var(--container-bg);
  width: calc(100% - 48px);
  max-width: 540px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.todo {
  width: 100%;
  padding: 19px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
  .left {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .todo__name {
    color: var(--text);
    font-size: 12px;
    width: 100%;
  }

  .completed {
    color: var(--text-completed);
    text-decoration: line-through;
    text-decoration-color: var(--text-completed);
  }
}

.statistics {
  display: flex;
  padding: 16px 20px 20px 20px;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-filter);
}

.filters {
  background-color: var(--container-bg);
  display: flex;
  padding: 15px 0;
  width: calc(100% - 48px);
  color: var(--text-filter);
  justify-content: center;
  gap: 19px;
  border-radius: 5px;
}

.filters div {
  display: flex;
  width: calc(100% - 48px);
  justify-content: center;
  gap: 20px;
}

.filter {
  font-size: 14px;
  letter-spacing: -0.194px;
}

.filter.active {
  color: rgba(58, 124, 253, 1);
}

@media screen and (min-width: 900px) {
  header {
    background-image: var(--bg-desktop-image);
    height: 300px;
  }

  header div {
    padding-top: 70px;
  }

  .logo {
    font-size: 40px;
    letter-spacing: 15px;
  }

  .form {
    margin-top: -150px;

    input {
      padding: 23px 52px;
      font-size: 18px;
    }
    input::placeholder {
      font-size: 18px;
    }
  }

  .todo {
    padding: 23px 20px 20px 20px;
  }

  .filters {
    /* display: none; */
    background-color: transparent;
  }

  .filters div {
    margin-top: -63px;
  }
}
